extends layout
block content
    p Bitter8 allows you to create awesome really low-res picture and share them with friends.
    p Simply pick a color and start filling in the pixels, click share and send your pictures unique url to friends.
    a(href="/") Start drawing!
        
